<head>
    <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
</head>

<body>
    <div class="chat-container"></div>

    <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js" /></script>
    <script type="text/javascript">
        var chatroom = new window.Chatroom({
            host: "http://localhost:5005",
            title: "Chat with Mira",
            container: document.querySelector(".chat-container"),
            welcomeMessage: "Hey I'm Mira! How can I help you?",
            speechRecognition: "en-US",
            //voiceLang: "en-US"
        });
        chatroom.openChat();
    </script>
</body>